fastapi
uvicorn[standard]
python-multipart
jinja2
python-dotenv
pdfplumber
PyMuPDF==1.24.1
tabula-py
pandas
groq
openai
huggingface_hub
chromadb
sentence-transformers
langchain
langchain-community
langchain-text-splitters
requests
httpx
aiohttp
numpy
beautifulsoup4
pydantic
python-dateutil
feedparser
gunicorn